body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: #fff;
}

.header {
    text-align: center;
    /*pone el solo el fondo con un desvanecido*/
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 2em;
    position: fixed;
    z-index: 1000;
    margin: 0;
    top: 0;
}

.header__nav {
    background: transparent;
    color: #fff;
    position: relative;
    z-index: 50;
}

.header__div {
    position: absolute;
    display: flex;
    object-fit: cover;
    justify-content: start;
    top: 19px;
    z-index: 10;
}

.header__div img {
    width: 20%;
    height: auto;
}

.nav__li {
    display: inline-block;
    list-style-type: none;
}

.nav__li a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.header__second .nav__li--second img {
    width: 25px;
    height: 25px;
}

.header__second .nav__li--second img:hover {
    background-color: #44ce5e;
}

.header__second {
    position: relative;
    top: calc(340px - 115.2px);  
    margin: 3rem; 
    z-index: 60;
}

.nav__li--second {
    list-style-type: none;
    margin: .8rem;
}

.section {
    height: 100%;
}

.section__div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.section__div h2 {
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-family: Tahoma;
    font-size: 2em;
}

.section__h2 {
    position: relative;
    z-index: 75;
}

.section__div--bottom .boton {
    background-color: #44ce5e;
    position: relative;
    color: #fff;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    transition: .5s;
    z-index: 70;
}

.boton:hover {
    transform: scale(1.2);
}

.boton:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition-duration: .5s;
}

.container img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: auto;
    top: 0;
}
.container__second img {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: auto;
    top: 100%;
}

.container__h2{
    position: relative;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    font-family: Tahoma;
    font-size: 3em;
    top: 25rem;
}
/* CODIGO TEMPORAL PARA EL FOOTER */
.article {
    width: 100%;
    height: 70em;
}

.footer img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer {
    background-color: #364552;
    padding: 1em;
}

.footer__section {
    display: flex;
    flex-direction: row;
}

.footer #correo {
    margin: 25px;
    width: 20em;
    text-align: center;
}

.footer #direccion {
    text-align: center;
    margin: 25px auto;
    width: 25em;
}

.footer #telefono {
    text-align: center;
    margin: 25px 0 0 0;
    float: right;
    width: 25em;
}

.footer #telefono p {
    display: inline-block;
}

.footer p {
    text-align: center;
    margin: 0 auto;
}