body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: #fff;
}

.header {
    /*pone el solo el fondo con un desvanecido*/
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 4em;
    padding: 1.5em;
    position: fixed;
    text-align: center;
    z-index: 1000;
    margin: 0;
    top: 0;
}

.header__nav {
    background: transparent;
    color: #fff;
    position: relative;
    z-index: 90;
}


.header__div a {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    z-index: 1000;
}

.header__div {
    position: absolute;
    display: flex;
    object-fit: cover;
    justify-items: start;
    top: 12px;
}

.header__div img {
    position: relative;
    width: 9em;
    height: auto;
    z-index: 150;
}

.nav__ul{
    position: relative;
    z-index: 2;
}

.nav__li {
    display: inline-block;
    list-style-type: none;
}

.nav__li a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 1.23em;
    font-family: 'Century Gothic';
}

.header__second .nav__li--second img {
    width: 25px;
    height: 25px;
    transition: .5s;
}

.header__second .nav__li--second img:hover {
    transform: scale(1.2);
    filter: invert(28%) sepia(18%) saturate(1352%) hue-rotate(92deg) brightness(99%) contrast(85%);
    transition-duration: .4s;
}

.header__second {
    position: relative;
    top: calc(340px - 115.2px);   
    z-index: 60;
}

.nav__li--second {
    list-style-type: none;
    margin: .8rem;
}

.section {
    margin-top: 15em;
}

.section__div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.section__div h2 {
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-size: 35pt;
    font-family: Tahoma;

}

.section__h2 {
    position: relative;
    z-index: 75;
}

.section__div--bottom .boton {
    background-color: #286140;
    position: relative;
    color: #fff;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    transition: .5s;
    z-index: 70;
}

.boton:hover {
    transform: scale(1.2);
    background-color: #fff;
    color: #286140;
    cursor: pointer;
    transition-duration: .5s;
}

.section__div a {
    text-decoration: none;
}

.container img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: auto;
    top: 0;
}
.container__second img {
    position: absolute;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: auto;
    top: 100%;
}

.container__h2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-family: Cambria;
    font-size: 2.55em;
    width: 100%;
    height: 11em;
}

.container__div {
    text-align: center;
    position: relative;
    width: 100%;
    top: -5em;
    height: 4em;
    font-size: 1.53em;
} 
.articulo {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(4, 25%);
}

/* .conta {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100% 100% ;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 100% 100% ;
}

.contac {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100% 100% ;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 100% 100% ;
} */

.articulo a {
    color: #fff;
    text-decoration: none;
}

.article__div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article__div font, p {
    padding: .5em;
    text-align: start;
}

.article__div font{
    display: inline-block;
    vertical-align: inherit;
    font-size: 3em;
    font-family: fantasy;
    width: 10em;
}

#ajolote{
    display: inline-block;
    background-color: #79C000;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    border-radius: 2px;
}

#ajolote:hover{
    background-color: #fff;
    color: #000;
    transition-duration: 1s;
}

#jaguar {
    display: inline-block;
    background-color: #FFB500;
    color: #286140;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    border-radius: 2px;
}

#jaguar:hover {
    background-color: #286140;
    color: #FFB500;
    transition-duration: 1s;
}

#osonegro {
    display: inline-block;
    background-color: #286140;
    color: #fff;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    border-radius: 2px;
}

#osonegro:hover {
    background-color: #fff;
    color: #286140;
    transition-duration: 1s;
}

#ocelote {
    display: inline-block;
    background-color: #86C618;
    color: #fff;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
    border-radius: 2px;
}

#ocelote:hover {
    background-color: #fff;
    color: #86C618;
    transition-duration: 1s;
}

.footer {
    background-color: #286140;
    padding-bottom: 1.5%;
    height: 10em;
}

.footer img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer__section {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-items: center;
    align-items: center;
}

.footer #correo {
    width: 25em;
    text-align: center;
}

.footer #direccion {
    width: 25em;
    text-align: center;
}

.footer #telefono {
    width: 25em;
    text-align: center;
}

.footer #telefono p {
    display: inline-block;
}

.footer > p {
    text-align: center;
}